html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    width: 100%;
  }
  
  body {
  margin-top: 0 auto;
  margin-left: 0 auto;
  margin-right: 0 auto;
  }

.main {
    margin: 0 auto;
    height: 95.7%;
}

.container {
    height: 100%;
}

.row{
    height: 100%;
}

.container .row .col-md-2 .col-md-10{
    background: yellow;
}

.background{
    background-color: #D0D6DC;
}

.open {
    padding-top: 15px;
}

.flex-fill {
    width:50%
}

.navbar-brand {
    padding: 0px;
}

.nav-item {
    background: #e47f83;
}

.opentimes {
    background-color: #D0D6DC;
}